<!DOCTYPE html>
<html>
  <head>
    <title>LwdDict</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="nav">
      <%= link_to 'Home', root_path %>
      | <%= link_to 'Contributors', contributors_path %>
    </nav>
    <%= yield %>
  </body>
</html>
